/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Signika', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Signika', sans-serif;
  color: #FE0760;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  color: #1A3642;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}
.hero .hero-text-and-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.hero .hero-text-and-image .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid red;
  width: 60%;
}
.hero .hero-text-and-image .hero-text h1 {
  font-size: 7.2rem;
  font-weight: bold;
  line-height: 6rem;
}
.hero .hero-text-and-image .hero-text h2 {
  font-size: 6.4rem;
  color: #1A3642;
  line-height: 6rem;
  margin-top: 2.5%;
}
.hero .hero-text-and-image img {
  border: 1px solid green;
  width: 32%;
}
.hero .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #FE0760;
  height: 40px;
  width: 120px;
  font-size: 1.8rem;
  border-radius: 7px;
  text-decoration: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.hero .btn:hover {
  background-color: #ffffff;
  color: #FE0760;
  border: solid #FE0760 1px;
  cursor: pointer;
}
.hero p {
  font-size: 1.4rem;
  margin-top: 3px;
}
@media (max-width: 500px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 155px;
  }
  .hero .hero-text-and-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero h2 {
    margin-top: 10px;
  }
  .hero img {
    margin-top: 10px;
    width: 45%;
    justify-content: center;
  }
  .hero .btn {
    margin-top: 13
            px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #FE0760;
    height: 50px;
    width: 27%;
    font-size: 1.8rem;
    border-radius: 7px;
    text-decoration: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  .hero .btn:hover {
    background-color: #ffffff;
    color: #FE0760;
    border: solid #FE0760 1px;
    cursor: pointer;
  }
  .hero p {
    margin-top: 5px;
    font-size: 1.2rem;
  }
  .hero p a {
    text-decoration: none;
    color: #32708B;
  }
}
