.flex {
  flex: 0 0 86%;
  display: flex;
  align-items: flex-end;
}
.btnFlexCenter {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 10rem;
}
.btnAnimation {
  background-color: white;
  color: #fe0760;
  border: solid #fe0760 2px;
  transform: translate(0px, -1px);
  transition-duration: 0.2s;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Signika', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Signika', sans-serif;
  color: #fe0760;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.8rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  font-size: 1.4rem;
  padding-bottom: 10px;
  color: #1a3642;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.empty2 {
  max-width: 1440px;
  width: 100%;
  border: 20px solid #B4D6E4;
  margin-bottom: 4rem;
}
header {
  height: 7.1rem;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 999;
}
@media (min-width: 501px) and (max-width:800px) {
  header {
    height: 4.2rem;
  }
}
nav {
  height: 100%;
  width: 50%;
  background: #1a3642;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (min-width: 375px) and (max-width: 500px) {
  nav {
    width: 100%;
    justify-content: center;
  }
}
@media (min-width: 500px) {
  nav .home {
    display: none;
  }
}
@media (min-width: 375px) and (max-width: 500px) {
  nav .aboutNav {
    display: none;
  }
}
nav a {
  margin: 0 2.5rem;
  color: white;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 600;
}
@media (min-width: 501px) and (max-width:800px) {
  nav a {
    font-size: 1.4rem;
    margin: 0 0.7rem;
  }
}
@media (min-width: 375px) and (max-width: 500px) {
  nav a {
    font-size: 2rem;
    margin: 0 3.3rem;
  }
  nav a:hover {
    color: #fe0760;
  }
}
nav a:last-child {
  margin-right: 4rem;
  color: #fe0760;
}
@media (min-width: 500px) and (max-width:800px) {
  nav a:last-child {
    margin-right: 2rem;
  }
}
@media (min-width: 375px) and (max-width: 500px) {
  nav a:last-child {
    color: white;
  }
}
.logo {
  width: 50%;
  height: 100%;
  padding: 1.8rem 3.5rem;
  align-self: center;
  color: white;
  font-size: 3.6rem;
  font-weight: bold;
  background: #1a3642;
  text-decoration: none;
}
@media (min-width: 500px) and (max-width:800px) {
  .logo {
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 2.2rem;
  }
}
@media (min-width: 375px) and (max-width: 500px) {
  .logo {
    display: none;
  }
}
footer {
  height: 6.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a3642;
  width: 100%;
}
@media (min-width: 500px) and (max-width:800px) {
  footer {
    height: 3.65rem;
  }
}
@media (min-width: 375px) and (max-width: 500px) {
  footer {
    height: 3.65rem;
  }
}
footer p {
  color: white;
  padding: 0;
  font-size: 2.5rem;
}
@media (min-width: 500px) and (max-width:800px) {
  footer p {
    font-size: 1.5rem;
  }
}
@media (min-width: 375px) and (max-width: 500px) {
  footer p {
    font-size: 1.5rem;
  }
}
.footerDiv {
  display: flex;
  justify-content: center;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25%;
}
.hero .hero-text-and-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 5%;
  width: 100%;
}
.hero .hero-text-and-image .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: 7%;
  width: 405;
}
.hero .hero-text-and-image .hero-text h1 {
  font-size: 7.2rem;
  font-weight: bold;
  line-height: 6rem;
}
.hero .hero-text-and-image .hero-text h2 {
  font-size: 6.4rem;
  color: #1a3642;
  line-height: 6.5rem;
  margin-top: 2.5%;
}
.hero .hero-text-and-image img {
  width: 32%;
}
.hero .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border: 4px solid #fe0760;
  font-size: 1.8rem;
  border-radius: 7px;
  text-decoration: none;
  color: #fe0760;
  font-size: 2.2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  width: 166px;
  border-radius: 10px;
}
.hero .btn:hover {
  background-color: #fe0760;
  color: white;
  border: solid #fe0760 4px;
  transform: translate(0px, -1px);
  transition-duration: 0.2s;
}
.hero p {
  font-size: 1.4rem;
  margin-top: 5px;
}
.hero p a {
  text-decoration: none;
  color: #32708b;
}
@media (max-width: 1000px) {
  .hero .hero-text-and-image .hero-text {
    margin: 0;
    margin-right: 5%;
  }
  .hero .hero-text-and-image .hero-text h1 {
    font-size: 5rem;
    font-weight: bold;
    line-height: 3rem;
  }
  .hero .hero-text-and-image .hero-text h2 {
    font-size: 5rem;
    color: #1a3642;
    line-height: 6rem;
    margin-top: 5%;
  }
  .hero .btn {
    width: 166px;
  }
}
@media (max-width: 724px) {
  .hero {
    margin-top: 3%;
  }
  .hero .hero-text-and-image {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .hero {
    margin-top: 2.5%;
  }
  .hero .hero-text-and-image {
    flex-direction: column;
    align-items: center;
  }
  .hero .hero-text-and-image .hero-text {
    margin: 0;
  }
  .hero .hero-text-and-image .hero-text h1 {
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 3rem;
  }
  .hero .hero-text-and-image .hero-text h2 {
    font-size: 3.6rem;
    color: #1a3642;
    line-height: 4rem;
    margin-top: 2.5%;
  }
  .hero .hero-text-and-image img {
    margin-top: 2.5%;
    width: 45%;
  }
  .hero .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #fe0760;
    height: 50px;
    width: 27%;
    font-size: 1.8rem;
    border-radius: 7px;
    text-decoration: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  .hero .btn:hover {
    background-color: #ffffff;
    color: #fe0760;
    border: solid #fe0760 1px;
    cursor: pointer;
  }
}
#anchor-location {
  margin-top: 13rem;
  margin-bottom: 10rem;
}
@media (max-width: 500px) {
  .empty2 {
    display: none;
  }
}
.words {
  flex: 0 0 86%;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 500px) {
  .words {
    flex-direction: column;
  }
  .words .empty {
    border: 2rem solid #b4d6e4;
    width: 100%;
    margin-bottom: 4rem;
  }
}
@media (max-width: 991px) {
  .words {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    max-width: 490px;
  }
}
.words .text {
  margin: 0 0.5rem;
}
@media (max-width: 500px) {
  .words .text {
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  .words .text {
    margin-bottom: 3rem;
    font-size: 2rem;
  }
}
@media (min-width:1200px) {
  .words .text {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
  }
}
.words .text h2 {
  text-align: center;
  color: #fe0760;
}
@media (max-width: 991px) {
  .words .text h2 {
    font-size: 4.8rem;
  }
}
.words .text p {
  text-align: center;
  color: #1a3642;
  font-size: 2.4rem;
}
@media (min-width:1200px) {
  .words .text p {
    width: 400px;
    margin: 0 auto;
    padding: 15px 20px;
  }
}
@media (max-width: 991px) {
  .words .text p {
    font-size: 2.9rem;
  }
}
.words .text img {
  max-width: 100%;
  height: auto;
}
.words .text .images {
  display: flex;
  height: 27rem;
  width: 98%;
  margin: 0 auto;
}
@media (min-width:1200px) {
  .words .text .images {
    max-width: 410px;
    margin: 0 auto;
  }
}
.startbtn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 10rem;
}
.startbtn button {
  height: 6.1rem;
  width: 16.6rem;
  border-radius: 1rem;
  text-decoration: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: #fe0760;
  font-size: 1.8rem;
  color: white;
  text-align: center;
  cursor: pointer;
  border: 4px solid #fe0760;
}
.startbtn button:hover {
  background-color: white;
  color: #fe0760;
  border: solid #fe0760 2px;
  transform: translate(0px, -1px);
  transition-duration: 0.2s;
}
.Vbtn1,
.Vbtn2 {
  display: none;
}
@media (max-width: 500px) {
  .Vbtn1,
  .Vbtn2 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 10rem;
  }
  .Vbtn1 button,
  .Vbtn2 button {
    height: 4.3rem;
    width: 19.9rem;
    border-radius: 0.9rem;
    text-decoration: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background-color: #fe0760;
    font-size: 1.8rem;
    color: white;
    text-align: center;
  }
  .Vbtn1 button:hover,
  .Vbtn2 button:hover {
    background-color: white;
    color: #fe0760;
    border: solid #fe0760 2px;
    transform: translate(0px, -1px);
    transition-duration: 0.2s;
  }
  .Vbtn1 button .fa-angle-down,
  .Vbtn2 button .fa-angle-down {
    font-size: 4rem;
  }
}
.about-container {
  width: 99%;
  display: flex;
  align-content: space-around;
}
@media (max-width: 800px) {
  .about-container {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .about-container {
    display: flex;
    flex-direction: column;
  }
}
.about-description {
  border-right: 2px solid #fe0760;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding-top: 8%;
}
.about-description h2 {
  font-size: 4rem;
  font-weight: bold;
}
@media (max-width: 1000px) {
  .about-description h2 {
    font-size: 3.5rem;
  }
}
.about-description h5 {
  font-size: 2.5rem;
  color: #1a3642;
  line-height: 3rem;
  width: 85%;
  margin-top: 15px;
}
@media (max-width: 800px) {
  .about-description {
    width: 100%;
    border-bottom: 1px solid #fe0760;
    border-right: none;
    margin-bottom: 8%;
    padding: 4%;
    align-content: space-around;
  }
  .about-description h5 {
    width: 60%;
  }
}
@media (max-width: 500px) {
  .about-description {
    width: 98%;
    border-right: none;
    border-bottom: 2px solid #fe0760;
    margin-bottom: 5%;
    padding-bottom: 5%;
  }
}
.bioContainer {
  display: flex;
  margin: 2% auto;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  width: 70%;
}
.bioContainer .bioCard .bio-image img {
  -webkit-filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 7px 5px rgba(0, 0, 0, 0.25));
}
@media (max-width: 800px) {
  .bioContainer {
    width: 90%;
    justify-content: space-around;
  }
}
@media (max-width: 500px) {
  .bioContainer {
    flex-wrap: none;
    width: 98%;
  }
}
.bioCard {
  position: relative;
  width: 22%;
  margin-left: 3%;
  margin-bottom: 5%;
}
.bioCard h3 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 2%;
}
@media (max-width: 1200px) {
  .bioCard h3 {
    font-size: 2rem;
  }
}
@media (max-width: 1080px) {
  .bioCard h3 {
    font-size: 1.8rem;
  }
}
@media (max-width: 800px) {
  .bioCard h3 {
    margin-top: 5%;
    font-size: 2rem;
  }
}
.bioCard p {
  font-size: 1.8rem;
  margin-top: 3%;
}
@media (max-width: 1200px) {
  .bioCard p {
    font-size: 1.6rem;
  }
}
@media (max-width: 1080px) {
  .bioCard p {
    font-size: 1.4rem;
  }
}
@media (max-width: 800px) {
  .bioCard p {
    font-size: 1.6rem;
  }
}
@media (max-width: 970px) {
  .bioCard {
    width: 28%;
  }
}
@media (max-width: 500px) {
  .bioCard {
    width: 45%;
    margin: 0 0 5% 3%;
    flex-direction: row;
    justify-content: center;
    margin-left: 2.5%;
  }
  .bioCard h3 {
    font-size: 1.6rem;
  }
  .bioCard p {
    font-size: 1.4rem;
    padding-bottom: 5px;
  }
}
.bio {
  text-align: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 70%;
}
@media (max-width: 500px) {
  .bio {
    width: 98%;
  }
}
.bio a {
  font-size: 2rem;
  color: #fe0760;
  text-decoration: none;
}
.bio a .fab {
  color: #fe0760;
  font-size: 4rem;
}
.bio a .fab:hover {
  color: #1a3642;
}
@media (max-width: 800px) {
  .bio a .fab {
    font-size: 2rem;
  }
}
@media (max-width: 1300px) {
  .bio a .fab {
    font-size: 3rem;
  }
}
@media (max-width: 1080px) {
  .bio a .fab {
    font-size: 2.5rem;
  }
}
@media (max-width: 800px) {
  .bio a .fab {
    font-size: 3.2rem;
  }
}
@media (max-width: 500px) {
  .bio a .fab {
    font-size: 2rem;
  }
}
