footer {
    height: 4.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: @secondary-color;
    width: 100%;
    max-width: 1440px;

    @media @phone {
        height: 3rem;
    }


    p{
        color: white;
        padding: 0;

        @media @phone {
            font-size: 1.2rem;
        }
    }
}