footer {
    height: 6.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: @secondary-color;
    width: 100%;

    @media @500to800 {
        height: 3.65rem;
    }

    @media @375to499 {
        height: 3.65rem;
    }

    p{
        color: white;
        padding: 0;
        font-size: 2.5rem;

        @media @500to800 {
            font-size: 1.5rem;
        }

        @media @375to499 {
            font-size: 1.5rem;
        }
    }
}

.footerDiv {
    display: flex;
    justify-content: center;
}