header {
    height: 7.1rem;
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 999;

    @media @500to800 {
        height: 4.2rem;
    }
} // header ends

nav {
    height: 100%;
    width: 50%;
    background: @secondary-color;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    .aboutNav {
        @media @375to499 {
            display: none;
        }
    }

    @media @375to499{
        width: 100%;
        justify-content: center;    
    }

    a {
        margin: 0 2.5rem;
        color: white;
        text-decoration: none;
        font-size: 2.2rem;
        font-weight: 600;

        &:last-child{
            margin-right: 4rem;
            color: @primary-color;

            @media @500to800 {
                margin-right: 2rem;
            }

            @media @375to499 {
                color: white;
            }
        }

        @media @500to800 {
            font-size: 1.4rem;
            margin: 0 .7rem;
        }

        @media @375to499 {
            font-size: 2rem;

            &:hover{
                color: @primary-color;
            }
        }

    }  // a selector ends
} // nav ends

.logo {
    width: 50%;
    height: 100%;
    padding: 1.8rem 3.5rem;
    align-self: center;
    color: white;
    font-size: 3.6rem;
    font-weight: bold;
    background: @secondary-color;
    text-decoration: none;

    @media @500to800 {
        padding-top: 1rem;;
        padding-left: 1rem;
        font-size: 2.2rem;
    }

    @media @375to499 {
        display: none;
    }
} // logo ends