
// Color assignments 
@header-color: @primary-color;
@font-color: @secondary-color;



// Colors
@primary-color: #FE0760;
@secondary-color: #1A3642;




// Escape

// @phone: ~"(max-width: 500px)";
// @tablet: ~"(max-width: 800px)";

@desktop: ~"(min-width: 1000px)";
@hideDesktopNav: ~"(max-width: 999px)";